[submodule "DueTimer"]
	path = DueTimer
	url = https://colombod@github.com/colombod/DueTimer.git
[submodule "OSC"]
	path = OSC
	url = https://colombod@github.com/colombod/OSC.git
[submodule "eDriveOsc"]
	path = eDriveOsc
	url = https://colombod@github.com/colombod/eDriveOSC.git
[submodule "eDriveDSP"]
	path = eDriveDSP
	url = https://colombod@github.com/colombod/eDriveDSP.git
